body{
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight:800; */
  font-size:1.2rem;
}

.login,.signup
{
  display:flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #90a0d0, #90a0d0, #90a0d0, #90a0d0, #90a0d0);
  justify-content: space-around;
  align-items: center;
  height:100vh;
  gap:1rem;
}
.login
{
  padding-top:4.32rem;
}
.signup
{
  padding-top:0.5rem;
}

.logincontainer,.heading
{
  margin-bottom:5rem;
}
.logincontainer
{
  padding:2rem;
  height:21.5rem;
  width:25rem;
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75) !important;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75) !important;
}


.loginfield
{
  height:4rem !important;
  margin-bottom:1.6rem !important;
}
.loginbutton
{
  margin-top:-3rem !important;
}
.forgotsignupbutton
{
  display: flex;
  margin-top:-1rem;
}
#signup
{
  margin-left:5.4rem;
}
.headingcontainer
{
  margin-bottom:7rem;
}
.heading
{
  font-size:3rem;
}
.subheading
{
  margin-top:-5rem;
  font-size:1rem;
  margin-left:3rem;
}
.signupcontainer
{
  padding:2rem;
  height:38rem;
  /* height: min-content; */
  width:24.5rem;
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75) !important;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 10px 10px 5px -4px rgba(216, 168, 168, 0.75) !important;
}
.signupfield
{
  width:20rem;
  margin-bottom:1.6rem !important;
  height:4rem !important;
}
.signupfieldbutton
{
  width:20rem;
  margin-top:-2rem !important;
}
.signuplogincontainer
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:-1rem !important ;
}
.account
{
  font-size:1rem;
  color:red;
}
.signuploginbutton
{
  margin-right:1rem !important;
}



.forgotcontainer
{
  background-image: linear-gradient(to right, #90a0d0, #90a0d0, #90a0d0, #90a0d0, #90a0d0);
  height:100vh;
  padding-top:1rem;
}
.forgotpassword
{
  
  padding:2rem;
  height:18rem;
  width:25rem;
  margin:10rem auto;
}
.forgotfield
{
  margin-bottom:1.6rem !important;
  margin-top:0.5rem!important;
  height:4rem !important;
}
.forgotsubmitbutton
{
  margin-top:-2rem !important;
}
.forgotbackbutton
{
  margin-left: 16.5rem !important;
  margin-top:-2rem !important;
}

.changepasswordcontainer
{
  background-image: linear-gradient(to right, #90a0d0, #90a0d0, #90a0d0, #90a0d0, #90a0d0);
  height:100vh;
  padding-top:1rem;
}

.changepassword
{
  padding:2rem;
  padding-top: 1rem;
  height:16.8rem;
  width:25rem;
  margin:10rem auto;
}
.changepasswordfield
{
  margin-bottom:1rem !important;
  margin-top:1rem!important;
  height:3rem !important;
}

.link,.link:hover
{
  color:white;
  text-decoration: none;
}
.dashboard
{
  width: 53rem;
  /* background-color: whitesmoke; */
  margin:5rem 20rem;
  height:20rem;
}

.avatar
{
  margin-left:66.5rem !important;
  margin-right:1.5rem !important;
}
.customcheckbox
{
  margin-left:31rem !important;
}
.urlbox1
{
  width:44.8rem;
}
.urlbox2
{
  width:50rem;
}

.urlpage
{
  display:flex;
  flex-wrap: wrap;
  gap:3rem;
  margin:2rem 2rem;
  margin-left:6rem;
}
.indurl
{

word-break: break-word;
box-shadow: 10px 13px 39px -8px rgba(0,0,0,0.69) !important;
-webkit-box-shadow: 10px 13px 39px -8px rgba(0,0,0,0.69) !important;
-moz-box-shadow: 10px 13px 39px -8px rgba(0,0,0,0.69) !important;
width:30rem !important;
height:fit-content;

}

.urlpage
{
  animation:transitionIn 0.75s;
}

/* .info
{
  margin-left:16rem !important;
  margin-top: -2rem !important;
} */

.monthusage
{
  text-align: right;
  margin-right:3rem;
  margin-top:1rem;
}
.indurl  a
{
  color:greenyellow;
  text-decoration:none;
}
.indurl  a:hover
{
  color:white;
}

.urldetails
{
  padding: 1rem;
}

@keyframes transitionIn {

  from{
    opacity:0;
    transform:rotateX(-10deg);
  }
  to{
    opacity:1;
    transform:rotateX(0);
  }
  
}




